<html>
    <head>
        <title>Pratik Vastu Consultation</title>
        <link rel="stylesheet" href="./assets/style.css">
        </head>
    <body>
        <div class="container">
            <img src="./assets/bg.jfif" alt="bg" height=150px width=1500px>
            <div class="centered">
                <h2>PRATIK VASTU CONSULTATION</h2>   
            </div>
            <div class="cen"><img src="./assets/logo.png" alt="logo" height=70px width=70px></div>
          </div><br><br><br><br>
        
          <a href="main">Home</a>&nbsp;<font size=6px color=RED>||</font>&nbsp;<a href="contact">Contact</a><font size=6px color=RED>||</font>&nbsp;<a href="technique">technique</a><br><br>
        <div>
            <img src="./assets/papa.jpeg" height=300px width=300px>
           <h3>Name:Rajesh Thaper</h3>
           <h3>Contact number:8864925152</h3>
           <h3>Address:D-72 Ganga Sagar , Ganga Nagar , Meerut , UttarPradesh 250001</h3>
        </div>
        </body>
    </html>