<html>
    <head>
        <title>Pratik Vastu Consultation</title>
        <link rel="stylesheet" href="./assets/style.css">
            </head>
     <body>
        <div class="container">
            <img src="./assets/bg.jfif" alt="bg" height=150px width=1500px>
            <div class="centered">
                <h2>PRATIK VASTU CONSULTATION</h2>   
            </div>
            <div class="cen"><img src="./assets/logo.png" alt="logo" height=70px width=70px></div>
          </div>
          
        <div>
            <div class="center"><br><br><br><br><a href="main">Home</a>&nbsp;<font size=6px color=RED>||</font>&nbsp;<a href="contact">Contact</a>&nbsp;<font size=6px color=RED>||</font>&nbsp;<a href="technique">technique</a><h3>Vaastu Shastra is one of the earliest teachings of Indian civilization. This is linked to the philosophy of engineering which teaches us how a structure can be built to bring constructive energies such as solar energy, moon energy, water energy, fire energy with earth energy into our lives. It is a proven and well-observed science that manipulates the forces of nature to work for us. There are reasons why the experts advise us to follow vast directions including not to have Kitchen of South-East facing and why to put the bedroom in the South & West direction.<br><br>

                Vastu Shastra is one of those disciplines that has developed over the years on the basis of traditional knowledge based on natural elements. The age-old Indian philosophers knew a lot about the five elements that made the universe: sun, moon, air, earth, and space.<br><br>
                
                The old rishis (sages) of the day had knowledge of the gravitational forces, the magnetic field, the position of the earth, the velocity of the winds, the ultraviolet rays, the intensity and the volume of rainfall, etc. When houses are built on the basis of the application of that knowledge, they are considered scientific. The five elements of nature need to be synchronized with the five elements of the human body.<br><br>
                
                Here are some benefits of following Vastu shastra to attain a healthy and prosperous life:<br><br>
                
                (i) Vastu Creates Financial Stability<br><br>
                
                Finance is very important for every kind of business. Vastu has been attracting the right investor or support from financial institutions and markets. Once you follow the right Vastu principles for your organization or business, you will have secure and successful finances in your company.<br><br>
                
                (ii) Vastu Opens the Doors for New Opportunities<br><br>
                
                If you feel that you're trapped in your life; you may not have a job or a career that goes well with your skills and expertise, or you just want to broaden your horizons, then Vastu is all you really need in your life. Try it and see what a series of the opportunities life presents to you!<br><br>
                
                (iii) Vastu Attracts More Wealth<br><br>
                
                Money is a widely followed that will make it easier for us to get what we want in this physical universe. And these days, money can also bring you happiness in a variety of ways. Having a Vastu complaint at home helps to attract money. There is an overall rise in cash. That phase of money starts to flow in regularly.<br><br>
                
                (iv)Vastu Makes the Relationships Strong<br><br>
                
                The goal of making a home is to maintain family bonding and to build healthy relationships in order to lead a successful life. Vastu has been shown to be beneficial in restoring family bonding and harmony.<br><br>
                
                (v) Vastu Brings Joy & Happiness<br><br>
                
                Only within you is the origin of eternal joy, but because of external factors, you are unable to feel happiness. When Vastu Shastra is applied to your home and workplace, you begin to reconnect to the source of joy and happiness within you.<br><br>
                
                So if you are planning to start a new industry, building a hotel, starting a construction project, or making a new house, ensure to get Vastu elements in your plan.<br><br> All you need to do is connect with us for a Consultation and get all things straight.</h3></div>
        </div>
        
    </body>    
    
</html>