<html>
    <head>
        <title>Pratik Vastu Consultation</title>
           <link rel="stylesheet" href="./assets/style.css"> 
     
    </head>
     <body>
        <div class="container">
            <img src="./assets/bg.jfif" alt="bg" height=150px width=1500px>
            <div class="centered">
                <h2>PRATIK VASTU CONSULTATION</h2>   
            </div>
            <div class="cen"><img src="./assets/logo.png" alt="logo" height=70px width=70px></div>
          </div>
          
        <div>
            <div class="center"><br><br><br><br><a href="main">Home</a>&nbsp;<font size=6px color=RED>||</font>&nbsp;<a href="contact">Contact</a>&nbsp;<font size=6px color=RED>||</font>&nbsp;<a href="technique">technique</a>
                     
        </div>
        <br><br><br><br> <br><br> 
        <div>
            <img src="./assets/aura.jfif" height=300px width=300px style="display:block; margin-left:auto; margin-right:auto;">
        </div>
        <br><br><br>
        <div>
             <h3 style="color:orange">ENERGY SCANNER</h3>
             
             <h4>The whole universe is compiled of various energies. All living and non-living objects have some or the other form of energy. We humans are no exception. Our body is comprised of various energies which creates an ‘aura’ around us. Energy scanner is the device used to measure these energies and to identify the harmful ones out of these.</h4>
             <h2>How can the Energy scanner help you?</h2>
             <h3 style="color:orange">
                1. Measure Aura:
                </h3>
            <h4>Each person has an aura. If a person is unhealthy or is wearing some negative jewellary / gems, his aura gets affected. Sometimes an aura is affected if a person is sleeping in a geopathic stress zone.</h4>
            <h3 style="color:orange">
                2. Colour:
                </h3>
            <h4>Our body and environment is made up of a balance of all seven colours. When an imbalance is observed, it indicates a disease or some problem in the location. This scanner can detect what amount of colour is needed in the house or the body. This is what is called the colour therapy, which when taken alongside medicines, heals faster.</h4>

            <h3 style="color:orange">
                3. Vaastu dosha / Feng Shui:
                </h3>
            <h4>Most Vaastu consultants are work on the structural principles only. This is why even after living in perfect vaastu compatible buildings, one keeps on experiencing problems in the life. There could be negative energy points in the vicinity that cannot be detected without this scanner. There are energies within clothes, utensils and other articles which feed on the aura of the house and the humans living in it, bringing ill luck.</h4>
            <h3 style="color:orange">
                4. Geopathic Stress:
                </h3>
            <h4>Geopathic stress is the term given to continually emitted gases and energies by the Earth. These cannot be seen with a naked eye. Too much of such negative energies do not let an individual grow in personal and professional lives. There have been cases where individuals suffered from Cancer and TB at a very young age. They were living in stress zones.</h4>
            <h3 style="color:orange">
                5. Position of Chakras:
                </h3>
            <h4>If all the chakras are not functioning properly, there could be a problem in the energy levels. There are blocks which hinder the flow of energy which gets disease or problem in the temperament. With the help of the Energy Scanner, we can find out the exact position of the Chakras.</h4>
            <h3 style="color:orange">
                6. Find negativity in a body:
                </h3>
            <h4>Most diseases and stress are caused mainly by negative energies of the body. Using this scanner one may find out the negativity of the body and identify if any ill effects are there because of the negative energies.</h4>
            <h3 style="color:orange">
                7. Find negativity in gemstones / jewellery:
                </h3>
            <h4>Even stone have energies which are why astrologers suggest these stones. However, sometimes the energies may clash showing opposite results. The scanner can check whether a particular stone is compatible or not. Sometimes even the jewellery one is wearing emanates negative energy. It causes irritation to the mind without realizing. The scanner can be helpful here too.</h4>
            <h3 style="color:orange">
                8. Identify gems that suit a person:
                </h3>
            <h4>It is possible that you have been suggested multiple gems by the astrologer. However, they all may not be compatible with each other or to find out which one would suit you, the services of the scanner may be utilized.</h4>
            <h3 style="color:orange">
                9. Person to Person:
                </h3>
            <h4>The Aura Scanner can detect the compatibility ratio between two persons which is necessary in business associations, marriages etc.</h4>
            <h3 style="color:orange">
                10. Object to Person:
                </h3>
            <h4>The Aura Scanner detects compatibility of particular object to a particular person for example is a vehicle, machinery, gadget compatible to its owner.</h4>
            <h3 style="color:orange">
                11. Medicine Compatibility:
                </h3>
            <h4>Sometimes medicines just don’t help, no matter whether it is allopathic, homeopathic or ayurvedic. You have to go through the hit and trial to see which one suits. This is because certain medicines may not be compatible with your body. With the scanner, you could find out which medicines will work better for you.</h4>
            <h3 style="color:orange">
                12. Detect Disease:
                </h3>
            <h4>The scanner can detect disease before it actually strikes a body. After a complete analysis, one can know what precautions he should take.</h4>
            <h3 style="color:orange">
                13. Food lacked in the body:
                </h3>
            <h4>As per medical professionals, each body is unique. So are its requirements. Some foods are not suited to some bodies while others bring sickness. The scanner can help to find out which “Dhaanya” (food grain item) is suited for eating or for donation.</h4>
            <h3 style="color:orange">
                14. Search & Investigation:
                </h3>
            <h4>The Aura scanner is quite helpful to conduct search of a missing person or object (provided a photograph of a missing or lost object or person is available for search.) </h4>
       <br>  <h3 style="color:red">
        How can a machine identify my aura?
                </h3>
            <h4>Each individual’s body, like all other matter, is made up of cells, atoms and other mass. The machine identifies the energy volume emanating from the body as per the sample provided to it.</h4>
            <h3 style="color:orange">
                Can there be something beneath the earth causing all the problems in my life?
                        </h3>
                    <h4>Yes, Geopathic Stress, which is caused by the continually emitted gases and energies by the Earth, can affect the growth of an individual by influencing the energies of the body. Even Cancer and T.B cases have been observed where the patients lived in geopathic stress zones.</h4>
                 <h3 style="color:red">
                    Energy scanner and Vaastu
                            </h3>      
                  <h3>
                    1. Without entering into the residence one can predict the presence of Geopathic Stress or Negative Energies in the building.<br>
                    2. After entering into the house one can locate all negative energy objects which are emitting infra radiations. It is proved that they suck human energy and house energy. These articles need to be separated from the house. This is first of its kind doing such operation.<br>
                    3. If we keep infra-red colour as a sample in the instrument, it moves towards the articles that have negative energies in them. <br>
                    4. If any souls or spirit frequencies are present, the instrument responds at that spot, indicating by opening its arms at 180 degrees. <br>
                    5. By cross questioning the owners of the plot one can extract the reasons on past events such as death suicide, accidents etc. <br>
                    6. It even indicates towards closed iron or wooden safes where negative energy bearing silver / gold items are safely kept. <br>
                    7. It also leads towards the Nodal points and their lines of any Geopathic stress or cosmic strain related to any negative origin. This would cause problem to the human cell energy, causing chronic diseases or psychic effects. <br>
                  </h3>          
        </div>
        
    </body>    
    
</html>